.mainContainer {
  display: flex;
  flex-direction: column;
  // height: 100vh;
}
.deviceListBox {
  padding-top: 10vh;
}
.devListTxt {
  color: white;
  font-size: 18px;
  padding: 1.5vh 1.5vh 0 1.5vh;
}
.loadingBox {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading {
  text-align: center;
  color: white;
}
