.chartsContainer {
  margin-top: 5px;
}

.sensorBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  height: 110px;
  margin-top: 10px;
}

.chartsSensor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 13vw;
  z-index: 3;
}

.graph {
  width: 40vw;
  margin: 5px 0;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.sensorText {
  color: #2f3b55;
  font-weight: 600;
}

.minMaxBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 27vw;
  border-right: 2px solid #dce4f4;
  border-left: 2px solid #dce4f4;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 0;
}

.maxMinFontSize {
  font-size: 18px;
  font-weight: 600;
  color: #2f3b55;
}

.apexcharts-toolbar {
  visibility: hidden;
}
