.notiContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.notiDeviceListText {
  color: white;
  font-size: 18px;
  padding: 5px 15px;
}

.notiContent {
  background-color: #f4f8ff;
  border-radius: 10px;
  margin: 10px auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  width: 88%;
}

.notiContent {
  width: 85%;
}

.separator {
  margin: 8px 0;
  border-bottom: 1px solid #7c7c7c;
  width: 100%;
}

.notiBtn {
  border: none;
  background: inherit;
}
